menu "softdevice support sample Config"
    config BLE_APP_BEACON
    bool "BLE_APP_BEACON"
    default y
endmenu

config NRFX_CLOCK_ENABLED
int 
default 1
config NRFX_CLOCK_DEFAULT_CONFIG_IRQ_PRIORITY
int 
default 7
config NRFX_RTC_ENABLED
int 
default 1
config NRFX_RTC1_ENABLED
int 
default 1
config NRF_CLOCK_ENABLED
int 
default 1
config NRF_SDH_BLE_ENABLED
int 
default 1
config NRF_SDH_ENABLED
int 
default 1
config NRF_SDH_SOC_ENABLED
int 
default 1


